body {
  text-align:center;
  background:#1279be url("https://images.unsplash.com/photo-1495420047114-9f6ef7fc0cbc?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;crop=") no-repeat;
  background-attachment: fixed;
  background-size:cover;
  font-family:'Lato';
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Raleway';
}

input {
  display:block;
  margin:auto;
}

.text-primary {
  color:#26a69a;
}

.text-grey {
  color:#6b6c6d;
}
