.length-zero {
  background:pink!important;
}

body {
  background:#1279be url("https://images.unsplash.com/photo-1495420047114-9f6ef7fc0cbc?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;crop=") no-repeat;
  background-attachment: fixed;
  background-size:cover;
  font-family:'Lato';
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Raleway';
}

input {
  display:block;
  margin:auto;
  transition: all .3s;
  border-bottom:1px solid #9e9e9e;
  padding-left:0!important;
}

input::placeholder {
  color:#9e9e9e;
  opacity:.5;
}

input:focus {
  border-bottom-color:#26a69a;
}

button {
  text-transform:uppercase;
  border-radius:.2em;
  text-decoration:none;
  color:#fff;
  letter-spacing:.5px;
  text-align:center;
  transition:.2s ease-out;
  outline:0;
  font-size:1rem;
  height:36px;
  line-height:36px;
  padding:0 2rem;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border:none;
  background:#26a69a;
}

button:hover {
  background:#2bbbad;
  box-shadow:0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  cursor:pointer;
}

.input-loading {
  background: url("http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif") no-repeat left center!important;
  height:32px;
}

.navbar {
  text-align:right;
  color:#fff;
  padding-top:20px;
}


.navbar a {
  color:#fff;
  text-decoration:none;
  font-size:1.3em;
  margin-left:10px;
  margin-right:10px;
  cursor:pointer;
}

.container {
  width:90%;
  margin:auto;
}

.text-white {
  color:#fff;
}
.enter-site,
.user-home-page{
  position:relative;
}

.map-container {
  margin-top:20px;
}

.auto-complete-form {
  position:relative;
}

.float-right {
  float:right;
}

.current-location {
  position:absolute;
  padding-left:15px;
  padding-right:15px;
  top:0;
  right:0;
}

.left {
  text-align:left;
  color:#9e9e9e;
  font-weight:bold;
}

.venueInfo {
  text-align:left;
  position:relative;
  height:40px;
}

.venueInfo button {
  position:absolute;
  right:0;
  top:0;
}

.error {
  position:absolute;
  bottom:50%;
  left:0;
  right:0;
  margin:auto;
  font-size:3rem;
  color:red;
  font-weight:bold;
}

.text-primary {
  color:#26a69a;
}

.text-grey {
  color:#6b6c6d;
}

#PlacesAutocomplete__autocomplete-container {
  z-index:1;
  text-align:left;
  font-size:.8rem;
  top:35px!important;
}

.map-marker {
  height:25px;
  width:auto;
}

.span-error-wrapper {
  position:relative;
}

.span-error {
  color:red;
  bottom:-18px;
  position:absolute;
}

/* footer */
.footer {
  color:#fff;
  border-top:2px solid #fff;
  margin-top:40px;
  padding-top:20px;
  padding-bottom:20px;
}

.footer a {
  color:#fff;
  text-decoration:none;
}

/* loader */

.loader:empty,
.loader:empty:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  top:20%;
}

.loader-container {
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
  background:#fff;
  z-index:90000;
  top:0;
  left:0;
}

.loader:empty {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #26a69a;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
